@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf);
}


.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 100%;
    background-color: #bccad0;
    border-bottom: 2px solid #000000;
    color: #000000;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
}

.logo a {
    font-family: 'Roboto-Bold, sans-serif';
    margin-left: 10px;
    font-size: 200%;
    position: relative;
    text-decoration: none;
    color: #000000;
}

.logo a:hover {
    font-family: 'Roboto-Black, sans-serif';
    text-decoration: none;
    color: #ffffff;
}

nav {
    font-family: 'Roboto-Black, sans-serif';
    font-size: 100%;
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}
nav a {
    font-family: 'Roboto-Black, sans-serif';
    position: relative;
    color: #000000;
    text-decoration: none;
    font-size: 150%;
}

nav a:hover {
    text-decoration: none;
    color: #ffffff;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
    background-color: #707a7e;
}

.column {
    background-color: #495054;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    z-index: -1;
}

.user_details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
}