@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf);
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 100%;
    background-color: #9ba8ae;
    border-bottom: 2px solid #000000;
    color: #000000;
    margin: 0 0 10px 0;
    display: inline-flex;
}

.logo a {
    font-family: 'Roboto-Black, sans-serif';
    margin-left: 10px;
    font-size: 200%;
    position: relative;
    text-decoration: none;
    color: #000000;
}

.logo a:hover {
    font-family: 'Roboto-Black, sans-serif';
    text-decoration: none;
    color: #ffffff;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}
nav a {
    position: relative;
    color: #000000;
    text-decoration: none;
    font-size: 100%;
}

nav a:hover {
    text-decoration: none;
    color: #ffffff;
}